@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#miniCircle{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    transition: all .2s;
}
#main{
    width: 100%;
    color: #fff;
    background-color: black;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
#nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
#heading{
    margin-top: 50px;
    line-height: .9;
    text-transform: uppercase;
}
#heading h1{
    font-size: 9vw;
    margin-left: 
    50px;
}
#heading #secondH1{
    margin-left: 180px;
}
.blockText{
    width: fit-content;
}
.blockText h5{
    text-align: right;
    font-size: 12px;
}
#sideHeadings{
    margin-top: 50px;
    padding: 0 2vw;
}
#sideHeadings h5{
    text-align: right;
    text-transform: uppercase;
    margin: .5vw;
}
#heroFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5vw;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
#heroFooter a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
#iconSet{
    display: flex;
    align-items: center;
    gap: 5px;
}
#iconSet .circle{
    width: 30px;
    height: 30px;
    background-color: #7f7979;
    border-radius: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#second{
    background-color: black;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-right: 10vw;


}
#second .elem{
    border-top: 1px solid #888;
    padding: 2vw 3vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.elem h1{
    font-size: 7vw;
    opacity: .7;
}
.lastElem{
    border-bottom: 1px solid #888;
}
.elem img{
    height: 100%;
    /* max-width: 100%; */
    position: absolute;
    z-index: 999;
    opacity: 0;
}
#about{
    width: 100%;
    background-color: black;
    padding: 80px 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 50px;
}
#aboutImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(/aboutImg.jpg);
    background-position: center;
    background-size: cover;
}
#aboutText{
    max-width: 400px;
}
#aboutText h5{
    text-transform: uppercase;
    opacity: .6;
    font-size: 10px;
    margin-bottom: 5px;
}
#aboutText p{
    padding: 5px;
    padding-left: 0;
}
#aboutText a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #888;
    border-radius: 30px;
    padding: 5px 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 10px;
}
#aboutText a:hover{
    background-color: #888;
    transition: all ease-in .3s;
    
}

#subscribe{
    background-color: black;
    padding: 5vw 4vw;
}
#subscribe h5{
    opacity: .6;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#subscribe a{
    text-decoration: none;
    color: #fff;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1vw 6vw;
}
#footerLeft{
    display: flex;
    gap: 10px;
}
#footerRight{
    display: flex;
    gap: 10px;

}
#footerRight a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
